<!DOCTYPE html>
<html>
<head>
    <title>Multi-Agent SEO Agency</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Ranker-Bots, a multi-agent SEO agency</h1>
        <form method="post" action="/analyze_seo">
            <input type="url" name="url" placeholder="Enter URL to analyze" required><br><br>
            <div style="display: inline-block;">  <button type="submit">Analyze</button>
            </div>
            {% if url %}
                <div style="display: inline-block;">
                    <label for="download_format"></label>
                    <select name="download_format" id="download_format">
                        <option value="txt">Text (.txt)</option>
                        <option value="docx">Word (.docx)</option>
                    </select>
                    <a id="download_link" href="#" style="
                        padding: 10px 20px;
                        background-color: #007bff;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        text-decoration: none; /* Remove underline */
                        margin-left: 10px; /* Add spacing */
                    ">Download</a>
                </div>
            {% endif %}
        </form>

        {% if url %}
            <div class="result-box">
                <h2>Keyword Analysis:</h2>
                <p>{{ keyword_results|replace('\n', '<br>')|safe }}</p>
            </div>
            <div class="result-box">
                <h2>On-Page Analysis:</h2>
                <p>{{ onpage_results|replace('\n', '<br>')|safe }}</p>
            </div>
            <div class="result-box">
                <h2>Content Analysis:</h2>
                <p>{{ content_results|replace('\n', '<br>')|safe }}</p>
            </div>
             <div class="result-box">
                <h2>Technical SEO Analysis:</h2>
                <p>{{ technical_results|replace('\n', '<br>')|safe }}</p>
            </div>
            <div class="result-box">
                <h2>Link Building Analysis:</h2>
                <p>{{ link_building_results|replace('\n', '<br>')|safe }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>

<script>
    document.getElementById('download_format').addEventListener('change', function() {
        var url = "{{ url }}";
        var format = this.value;
        var downloadUrl = "/download_report?url=" + url + "&download_format=" + format;
        document.getElementById('download_link').href = downloadUrl;
    });
</script>